{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Configurar cuenta</title>
{% endblock %}

{% block mainbody %}
    <main>
        <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
            <div class="container-fluid">
                <div class="page-header-content">
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="col-auto mb-3">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="user"></i></div>
                                Configurar cuenta - Perfil
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container mt-4">
            <!-- Account page navigation-->
            <nav class="nav nav-borders">
                <a class="nav-link active ml-0" href="account-profile.html">Perfil</a>
                <a class="nav-link" href="{% url 'usuario:change_password' %}">Cambiar contraseña</a>
                <a class="nav-link" href="#">Notificaciones</a>
            </nav>
            <hr class="mt-0 mb-4" />
            <div class="row">
                <div class="col-xl-4">
                    <!-- Profile picture card-->
                    <div class="card">
                        <div class="card-header">Foto de perfil</div>
                        <div class="card-body text-center">
                            <!-- Profile picture image-->
                            <img class="img-account-profile rounded-circle mb-2"
                                src="{% static 'assets/img/illustrations/profiles/profile-1.png' %}" alt="" />
{#                            <!-- Profile picture help block-->#}
{#                            <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>#}
                            <!-- Profile picture upload button-->
                            <button class="btn btn-primary" type="file">Subir nueva imagen</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <!-- Account details card-->
                    <div class="card mb-4">
                        <div class="card-header">Detalles de la cuenta</div>
                        <div class="card-body">
                            <form>
                                <!-- Form Group (username)-->
                                <div class="form-group">
                                    <label class="small mb-1" for="numeroCedula">Número de cédula</label>
                                    <input class="form-control" id="numeroCedula" type="text" maxlength="10"
                                           minlength="10"
                                        placeholder="Ingrese su número de cédula" value="" required/>
                                </div>
                                <!-- Form Row-->
                                <div class="form-row">
                                    <!-- Form Group (first name)-->
                                    <div class="form-group col-md-6">
                                        <label class="small mb-1" for="ingreseNombres">Nombres</label>
                                        <input class="form-control" id="ingreseNombres" type="text" maxlength="60"
                                            placeholder="Ingrese sus nombres completos" value="" required />
                                    </div>
                                    <!-- Form Group (last name)-->
                                    <div class="form-group col-md-6">
                                        <label class="small mb-1" for="ingreseApellidos">Apellidos</label>
                                        <input class="form-control" id="ingreseApellidos" type="text" maxlength="60"
                                            placeholder="Digite sus apellidos" value="" required />
                                    </div>
                                </div>
                                <!-- Form Group (email address)-->
                                <div class="form-group">
                                    <label class="small mb-1"
                                           for="inputEmailAddress">Dirección de correo electrónico</label>
                                    <input class="form-control" id="inputEmailAddress" type="email"
                                        placeholder="Ingrese su correo electrónico"
                                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{​​​​2,15}​​​​$"
                                           value="" required/>
                                </div>
                                <!-- Form Row-->
                                <div class="form-row">
                                    <!-- Form Group (phone number)-->
                                    <div class="form-group col-md-6">
                                        <label class="small mb-1" for="inputPhone">Teléfono celular</label>
                                        <input class="form-control" id="inputPhone" type="tel" maxlength="10"
                                               minlength="10"
                                            placeholder="Ingrese sus número de teléfono celular"  required />
                                    </div>
                                    <!-- Form Group (birthday)-->
                                    <div class="form-group col-md-6">
                                        <label class="small mb-1" for="inputDateBorn">Fecha de nacimiento</label>
                                        <input class="form-control" id="inputDateBorn" type="date"
                                            placeholder="Ingrese su fecha de nacimiento" value="dd/mm/aaaa" required />
                                    </div>
                                </div>
                                <!-- Save changes button-->
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}