{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Configurar cuenta</title>
{% endblock %}

{% block mainbody %}
    <main>
        <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
            <div class="container-fluid">
                <div class="page-header-content">
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="col-auto mb-3">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="user"></i></div>
                                Configurar cuenta - Perfil
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container mt-4">
            <!-- Account page navigation-->
            <nav class="nav nav-borders">
                <a class="nav-link active ml-0" href="{% url 'usuario:account' object.pk %}">Perfil</a>
                <a class="nav-link" href="{% url 'usuario:change_password' %}">Cambiar contraseña</a>
                <a class="nav-link" href="#">Notificaciones</a>
            </nav>
            <hr class="mt-0 mb-4"/>
            <div class="row">
                <div class="col-xl-4">
                    <!-- Profile picture card-->
                    <div class="card">
                        <div class="card-header">Foto de perfil</div>

                        <div class="card-body text-center">
                            <div id="demo" class="carousel slide" data-ride="carousel">

                                <!-- Indicators -->
                                <ul class="carousel-indicators">
                                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                                    <li data-target="#demo" data-slide-to="1"></li>
                                    <li data-target="#demo" data-slide-to="2"></li>
                                    <li data-target="#demo" data-slide-to="3"></li>
                                    <li data-target="#demo" data-slide-to="4"></li>
                                </ul>

                                <!-- The slideshow -->
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img style="width: 80%;"
                                             alt="Perfil 1"
                                             onclick="select_avatar($(this));"
                                             src="{% static 'assets/img/illustrations/profiles/profile-1.png' %}">
                                    </div>
                                    <div class="carousel-item">
                                        <img style="width: 80%"
                                             id="img2"
                                             alt="Perfil 2"
                                             onclick="select_avatar($(this));"
                                             src="{% static 'assets/img/illustrations/profiles/profile-2.png' %}">
                                    </div>
                                    <div class="carousel-item">
                                        <img style="width: 80%"
                                             alt="Perfil 3"
                                             onclick="select_avatar($(this));"
                                             src="{% static 'assets/img/illustrations/profiles/profile-3.png' %}">
                                    </div>
                                    <div class="carousel-item">
                                        <img style="width: 80%"
                                             alt="Perfil 4"
                                             onclick="select_avatar($(this));"
                                             src="{% static 'assets/img/illustrations/profiles/profile-4.png' %}">
                                    </div>
                                    <div class="carousel-item">
                                        <img style="width: 80%"
                                             alt="Perfil 5"
                                             onclick="select_avatar($(this));"
                                             src="{% static 'assets/img/illustrations/profiles/profile-5.png' %}">
                                    </div>
                                </div>

                                <!-- Left and right controls -->
                                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                </a>
                                <a class="carousel-control-next" href="#demo" data-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                </a>
                            </div>
                            <!-- Profile picture image-->
                            {#                            <img class="img-account-profile rounded-circle mb-2"#}
                            {#                                 src="{% static 'assets/img/illustrations/profiles/profile-2.png' %}" alt=""/>#}
                            {#                            <!-- Profile picture help block-->#}
                            {#                            <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>#}
                            <!-- Profile picture upload button-->
                            {#                            <input class="btn btn-primary" type="file" placeholder="Subir imagen">#}
                            {#                            <label class="btn btn-primary">#}
                            {#                                <input type="file"/>#}
                            {#                                Subir imagen#}
                            {#                            </label>#}
                            <br>
                            <p class="text-xs">Dé clic sobre la imagen para seleccionar</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <!-- Account details card-->
                    <div class="card card-header-actions mx-auto">
                        <div class="card-header">
                            Detalles de la cuenta
                            <div>
                                <button class="btn btn-white btn-icon mr-2">
                                    <img id="header_avatar" class="img-fluid" src="{{ user.path_avatar }}"/>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    {{ form.errors }}
                                </div>
                            {% endif %}
                            <form action="{% url 'usuario:account' object.pk %}" method="POST">
                                {% csrf_token %}
                                <!-- Form Group (username)-->
                                <div class="form-group">
                                    {#                                    <div class="form-group col-md-6">#}
                                    {#                                        #}
                                    {#                                    </div>#}
                                    <label class="small mb-1" for="numeroCedula">Número de cédula</label>
                                    {{ form.username }}
                                </div>
                                <!-- Form Row-->
                                <div class="form-row">
                                    <!-- Form Group (first name)-->
                                    <div class="form-group col-md-6">
                                        <label class="small mb-1" for="ingreseNombres">Nombres</label>
                                        {{ form.first_name }}
                                    </div>
                                    <!-- Form Group (last name)-->
                                    <div class="form-group col-md-6">
                                        <label class="small mb-1" for="ingreseApellidos">Apellidos</label>
                                        {{ form.last_name }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label class="small mb-1" for="ingreseApellidos">URL Avatar</label>
                                        {{ form.path_avatar }}
                                    </div>
                                </div>
                                <!-- Form Group (email address)-->
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="small mb-1"
                                               for="inputEmailAddress">Dirección de correo electrónico</label>
                                        {{ form.email }}
                                    </div>
                                </div>
                                <!-- Save changes button-->
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block extrajs %}
    <script>
        $(() => {
            let i_avatar = $('input[name="path_avatar"]');

            i_avatar.on('change', () => {
                // $('#header_avatar').attr('src', 'assets/img/illustrations/profiles/profile-5.png');
            });
        });

        function select_avatar(obj) {
            let i_avatar = $('#id_path_avatar');
            let source = obj.attr('src');
            let title = obj.attr('alt');
            i_avatar.val(source);

            $('#src_image').val(title);
            $('#header_avatar').attr('src', source);
        }
    </script>
{% endblock %}