{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Iniciar sesión</title>
{% endblock %}

{% block bodypage %}
        <body class="bg-primary"
              style="background-image: url( {% static 'assets/img/illustrations/fondo_sesion.jpeg' %} );
                      background-size: cover;
                      background-repeat: no-repeat">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <!-- Formulario basico de login-->
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header justify-content-center"> <h1><b>Iniciar  sesión</b></h1> </div>
                                    <div class="card-body">
                                        <!-- Login form-->
                                        <form method="post">
                                            {% csrf_token %}
                                            <div class="form-group">
                                            {% if form.non_field_errors %}
                                                <ul class='alert alert-danger' role="alert">
                                                    {% for error in form.non_field_errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                            </div>
                                            <!-- Cuadro de texto para el ingreso de la credencial del número de cédula-->
                                            <div class="form-group">
                                                {% if form.username.errors %}
                                                    <div class="text-danger text-xs">
                                                        {{ form.username.errors }}
                                                    </div>
                                                {% endif %}
                                                <label class="small mb-1" for="numeroCedula">Número de cédula </label>
                                                {{ form.username }}
                                            </div>
                                            <!-- Cuadro de texto para el ingreso de la credencial de contraseña-->
                                            <div class="form-group">
                                                {% if form.username.errors %}
                                                    <div class="text-danger text-xs">
                                                        {{ form.password.errors }}
                                                    </div>
                                                {% endif %}
                                                <label class="small mb-1" for="password">Contraseña</label>
                                                {{ form.password }}
                                            </div>
                                            <!-- Casilla para guardar la contraseña-->
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    {{ form.remember_me }}
                                                    <label class="custom-control-label" for="id_remember_me">Guardar contraseña</label>
                                                </div>
                                            </div>
                                            <!-- link para recuperar contraseña y boton de incio de sesion-->
                                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small" href="{% url 'recover_password' %}">Recuperar contraseña</a>
                                                <button  class="btn btn-primary" type="submit">Iniciar sesion</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- <div class="card-footer text-center">
                                        <div class="small"><a href="auth-register-basic.html">Crear una cuenta</a></div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="footer mt-auto footer-dark">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 small">Copyright &copy; Jefatura de Rentas 2021</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
{#        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>#}
{#        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>#}
{#        <script src="js/scripts.js"></script>#}
    </body>
{% endblock %}