{% extends 'base.html' %}
{% load static %}

{% block collapse_alcabala %}collapse show{% endblock %}

{% block title %}<title>Crear alcabalas y plusvalias</title>{% endblock %}

{% block iconheader %}
    <div class="page-header-icon"><i class="fas fa-people-arrows"></i></div>
{% endblock %}

{% block titleheader %} Alcabalas y Plusvalias {% endblock %}

{% block subtitleheader %}
    En esta seccion se realizará el ingreso de los datos del
    alcabalas y plusvalias
{% endblock %}

{% block buttondate %} {% endblock %}

{% block centralbody %}
    <div class="container mt-n10">
        <!-- Wizard card example with navigation-->
        <div class="card card-progress">
            <div class="card-header border-bottom">
                <!-- Wizard navigation-->
                <div
                        class="nav nav-pills nav-justified flex-column flex-xl-row nav-wizard"
                        id="cardTab"
                        role="tablist"
                >
                    <!-- Wizard navigation item 1-->
                    <a
                            class="{% block link_paso1 %}nav-item nav-link{% endblock %}"
                            id="wizard1-tab"
                            href="{% url 'alcabala:crear_alcabala' %}"
                            aria-controls="wizard1"
                            aria-selected="true"
                    >
                        <div class="wizard-step-icon">1</div>
                        <div class="wizard-step-text">
                            <div class="wizard-step-text-name">Alcabala</div>
                            <div class="wizard-step-text-details">Aviso de alcabala</div>
                        </div>
                    </a>
                    <!-- Wizard navigation item 2-->
                    <a
                            class="{% block link_paso2 %}nav-item nav-link{% endblock %}"
                            id="wizard2-tab"
                            href="{% url 'plusvalia:crear_plusvalia' %}"
                            aria-controls="wizard2"
                            aria-selected="true"
                    >
                        <div class="wizard-step-icon">2</div>
                        <div class="wizard-step-text">
                            <div class="wizard-step-text-name">Plusvalia</div>
                            <div class="wizard-step-text-details">
                                Liquidacion de Plusvalia
                            </div>
                        </div>
                    </a>
                    <!-- Wizard navigation item 3-->
                    <a
                            class="{% block link_paso3 %}nav-item nav-link{% endblock %}"
                            id="wizard3-tab"
                            href=""
                            aria-controls="wizard3"
                            aria-selected="true"
                    >
                        <div class="wizard-step-icon">3</div>
                        <div class="wizard-step-text">
                            <div class="wizard-step-text-name">Revisar e imprimir</div>
                            <div class="wizard-step-text-details">
                                Imprimir datos del aviso de alcabala
                            </div>
                        </div>
                    </a>
                    <!-- Wizard navigation item 4-->
                    <a
                            class="{% block link_paso4 %}nav-item nav-link{% endblock %}"
                            id="wizard4-tab"
                            href=""
                            aria-controls="wizard4"
                            aria-selected="true"
                    >
                        <div class="wizard-step-icon">4</div>
                        <div class="wizard-step-text">
                            <div class="wizard-step-text-name">Revisar e imprimir</div>
                            <div class="wizard-step-text-details">
                                Imprimir datos de la liquidación de plusvalia
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content" id="cardTabContent">
                    <div
                            class="tab-pane py-2 py-xl-3 fade show active"
                            id="wizard1"
                            role="tabpanel"
                            aria-labelledby="wizard1-tab"
                    >
                        <div class="row justify-content-center">
                            <div class="col-xxl-6 col-xl-10">
                                {% block body_wizard %}
                                    <div class="text-black">
                                        <h1>Text here</h1>
                                    </div>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="progress rounded-0">
                <div
                        class="progress-bar bg-gradient-primary-to-secondary"
                        role="progressbar"
                        style="{% block progress %} width: 0% {% endblock %}"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                ></div>
            </div>

        </div>
    </div>

{% endblock %}

{% block extrajs %}

    {#    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>#}
    {#    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">

    <script>
        $(function () {

            let i_valor_compra_venta = $('input[name="valor_compra_venta"]');
            let i_impuesto_alcabalas = $('input[name="impuesto_alcabalas"]');
            let i_alcabalas_provinciales = $('input[name="alcabalas_provinciales"]');
            let i_fondos_escolares = $('input[name="fondos_escolares"]');
            let i_fondos_prevencion_riesgos = $('input[name="fondos_prevencion_riesgos"]');
            let i_agua_potable = $('input[name="agua_potable"]');
            let i_total = $('#total');
            let i_valor1 = $('#valor1');
            let i_valor2 = $('#valor2');
            let i_valor3 = $('#valor3');

            function suma() {
                let val_valor_compra_venta = parseFloat(i_valor_compra_venta.val());
                {#let val_impuesto_alcabalas = parseFloat(i_impuesto_alcabalas.val());#}
                {#let val_alcabalas_provinciales = parseFloat(i_alcabalas_provinciales.val());#}
                {#let val_fondos_escolares = parseFloat(i_fondos_escolares.val());#}
                let val_fondos_prevencion_riesgos = parseFloat(i_fondos_prevencion_riesgos.val());
                let val_agua_potable = parseFloat(i_agua_potable.val());


                let valu_impuesto_alcabalas = val_valor_compra_venta * 0.01
                i_impuesto_alcabalas.text(parseFloat(valu_impuesto_alcabalas.toFixed(2)));

                let valu_alcabalas_provinciales = val_valor_compra_venta * 0.00001
                i_alcabalas_provinciales.text(parseFloat(valu_alcabalas_provinciales.toFixed(2)));

                let valu_fondos_escolares = val_valor_compra_venta * 0.0001
                i_fondos_escolares.text(parseFloat(valu_fondos_escolares.toFixed(2)));

                {#let total = val_valor_compra_venta + val_impuesto_alcabalas + val_alcabalas_provinciales#}
                {#    + val_fondos_escolares + val_fondos_prevencion_riesgos + val_agua_potable;#}
                {#i_total.text(parseFloat(total.toFixed(2)));#}

                let total =  valu_impuesto_alcabalas + valu_alcabalas_provinciales
                    + valu_fondos_escolares + val_fondos_prevencion_riesgos + val_agua_potable;
                i_total.text(parseFloat(total.toFixed(2)));
            }

            suma();

            i_valor_compra_venta.on('change', () => {
                suma();
            });

            i_impuesto_alcabalas.on('change', () => {
                suma();
            })

            i_alcabalas_provinciales.on('change', () => {
                suma();
            })

            i_fondos_escolares.on('change', () => {
                suma();
            })
            i_fondos_prevencion_riesgos.on('change', () => {
                suma();
            })

            i_agua_potable.on('change', () => {
                suma();
            })


            let i_precio_venta = $('input[name="precio_venta"]');
            let i_precio_adquisicion = $('input[name="precio_adquisicion"]');
            let i_diferencia_bruta = $('input[name="diferencia_bruta"]');
            let i_rebaja_mejoras = $('input[name="rebaja_mejoras"]');
            let i_diferencia_neta = $('input[name="diferencia_neta"]');
            let i_tenencia = $('input[name="tenencia"]');
            let i_base_rebajar_moneda = $('input[name="base_rebajar_moneda"]');
            let i_rebaja_desvalorizacion = $('input[name="rebaja_desvalorizacion"]');
            let i_utilidad_imponible = $('input[name="utilidad_imponible"]');
            let i_totalp = $('#totalp');

            function sumap() {
                let val_precio_venta = parseFloat(i_precio_venta.val());
                let val_precio_adquisicion = parseFloat(i_precio_adquisicion.val());
                let val_diferencia_bruta = parseFloat(i_diferencia_bruta.val());
                let val_rebaja_mejoras = parseFloat(i_rebaja_mejoras.val());
                let val_diferencia_neta = parseFloat(i_diferencia_neta.val());
                let val_tenencia = parseFloat(i_tenencia.val());
                let val_base_rebajar_moneda = parseFloat(i_base_rebajar_moneda.val());
                let val_rebaja_desvalorizacion = parseFloat(i_rebaja_desvalorizacion.val());
                let val_utilidad_imponible = parseFloat(i_utilidad_imponible.val());

                let totalp = val_precio_venta + val_precio_adquisicion + val_diferencia_bruta
                    + val_rebaja_mejoras + val_diferencia_neta + val_tenencia + val_base_rebajar_moneda
                    + val_rebaja_desvalorizacion + val_utilidad_imponible;
                i_totalp.text(parseFloat(totalp.toFixed(2)));
            }

            sumap();

            i_precio_venta.on('change', () => {
                sumap();
            });

            i_precio_adquisicion.on('change', () => {
                sumap();
            })

            i_diferencia_bruta.on('change', () => {
                sumap();
            })

            i_rebaja_mejoras.on('change', () => {
                sumap();
            })

            i_diferencia_neta.on('change', () => {
                sumap();
            })

            i_tenencia.on('change', () => {
                sumap();
            })
            i_base_rebajar_moneda.on('change', () => {
                sumap();
            })

            i_rebaja_desvalorizacion.on('change', () => {
                sumap();
            })

            i_utilidad_imponible.on('change', () => {
                sumap();
            })


            const select_search = $('#search');
            const input_comprador = $('input[name="comprador"]');

            select_search.on('change', function () {
                const value = select_search.select2('data')[0].id;
                input_comprador.val(value);
                //console.log(input_comprador);
            });

            select_search.select2({
                theme: "bootstrap4",
                language: {
                    inputTooShort: function () {
                        return "Ingrese más de dos caracteres";
                    },
                    searching: function () {
                        return "Buscando..."
                    }
                },
                allowClear: true,
                ajax: {
                    delay: 250,
                    type: 'POST',
                    url: '/alcabala/get_personas/',
                    data: function (params) {
                        var queryParameters = {
                            term: params.term,
                            action: 'autoselect'
                        }
                        return queryParameters;
                    },
                    processResults: function (data) {
                        console.log(data);
                        return {
                            results: data
                        };
                    },
                },
                placeholder: 'Ingrese número de cédula',
                minimumInputLength: 2,
            });


            const select_search_vendedor = $('#search_vendedor');
            const input_vendedor = $('input[name="vendedor"]');

            select_search_vendedor.on('change', function () {
                const value = select_search_vendedor.select2('data')[0].id;
                input_vendedor.val(value);
                //console.log(input_comprador);
            });

            select_search_vendedor.select2({
                theme: "bootstrap4",
                language: {
                    inputTooShort: function () {
                        return "Ingrese más de dos caracteres";
                    },
                    searching: function () {
                        return "Buscando..."
                    }
                },
                allowClear: true,
                ajax: {
                    delay: 250,
                    type: 'POST',
                    url: '/alcabala/get_personas/',
                    data: function (params) {
                        var queryParameters = {
                            term: params.term,
                            action: 'getvendedor'
                        }
                        return queryParameters;
                    },
                    processResults: function (data) {
                        console.log(data);
                        return {
                            results: data
                        };
                    },
                },
                placeholder: 'Ingrese número de cédula',
                minimumInputLength: 2,
            });


            const select_search_predio = $('#search_predio');
            const input_predio = $('input[name="predio"]');

            select_search_predio.on('change', function () {
                const value = select_search_predio.select2('data')[0].id;
                input_predio.val(value);
                //console.log(input_comprador);
            });

            select_search_predio.select2({
                theme: "bootstrap4",
                language: {
                    inputTooShort: function () {
                        return "Ingrese más de dos caracteres";
                    },
                    searching: function () {
                        return "Buscando..."
                    }
                },
                allowClear: true,
                ajax: {
                    delay: 250,
                    type: 'POST',
                    url: '/alcabala/get_personas/',
                    data: function (params) {
                        var queryParameters = {
                            term: params.term,
                            action: 'getpredio'
                        }
                        return queryParameters;
                    },
                    processResults: function (data) {
                        console.log(data);
                        return {
                            results: data
                        };
                    },
                },
                placeholder: 'Ingrese un valor',
                minimumInputLength: 2,
            });
        });
    </script>

{% endblock %}
