<div class="modal-dialog modal-sm modal-dialog-scrollable" role="document">
    <div class="modal-content border-red">
        <div class="modal-header">
            <h5 class="modal-title" id="modalSuspenderTitle">Suspender patente</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
        </div>
        {% csrf_token %}
        <div class="modal-body">
            <div class="text-black-75">
                {% if object.suspendida %}
                    La patente ya se encuentra suspendida
                {% else %}
                    {% if object.get_pago_esta_vencido %}
                        Esta patente tiene un pago pendiente, abone el pago y luego puede realizar la suspensión
                        <a href="{% url 'patente:especie_renovacion' object.pk %}">Realizar pago</a>
                    {% else %}
                        ¿Está seguro de suspender la patente de {{ object.establecimiento.nombre }} perteneciente a
                        {{ object.contribuyente.ruc }}?
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="modal-footer">
            <button onclick="close_modal_elimination();"
                    class="btn btn-light" type="button">
                Cerrar
            </button>
            {% if object.suspendida %}
                <button onclick="suspender_patente({{ object.pk }})"
                        class="btn btn-green" type="button">
                    Reactivar
                </button>
            {% else %}
                {% if object.get_pago_esta_vencido is False %}
                    <button onclick="suspender_patente({{ object.pk }})"
                            class="btn btn-red" type="button">
                        Suspender
                    </button>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>