{% extends 'patente/layout/wizard_step.html' %}

{% block title %}<title>Crear patente</title>{% endblock %}

{% block link_paso3 %}nav-item nav-link active{% endblock %}

{% block body_wizard %}
<form id="form_patente" action="{% url 'patente:crear_patente' %}" method="POST">
    {% csrf_token %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="text-danger text-xs">
                    <li><strong>{{ error|escape }}</strong></li>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="text-danger text-xs">
                <li><strong>{{ error|escape }}</strong></li>
            </div>
        {% endfor %}
    {% endif %}
    <br>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="small mb-1" for="fecha">Número de patente</label>
            {{ form.numero_patente }}
        </div>
        <div class="form-group col-md-6">
            <label class="small mb-1" for="fechaInicioActividad">Fecha</label>
            {{ form.fecha }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="small mb-1" for="contribuyente">RUC del contribuyente</label>
            {# <input type="text" id="contribuyente" value="{{ form.contribuyente.ruc }}">#}
            {{ form.contribuyente }}
        </div>
        <div class="form-group col-md-6">
            <label class="small mb-1" for="establecimiento">Establecimiento</label>
            {{ form.establecimiento }}
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">
            Guardar y continuar
        </button>
    </div>
</form>
{% endblock %}

{% block progress %} width: 48.8% {% endblock %}