{% extends 'patente/layout/wizard_step.html' %}

{% block title %}<title>Crear patente</title>{% endblock %}

{% block link_paso3 %}nav-item nav-link active{% endblock %}

{% block body_wizard %}
<form id="form_patente" action="{% url 'patente:crear_patente' %}" method="POST">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
    {% endif %}
    <!-- Form Group (username)-->
    <div class="form-group">
        <label class="small mb-1" for="fecha">Fecha</label>
        {{ form.fecha }}
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="small mb-1" for="contribuyente">Escoja el contribuyente</label>
{#            <input type="text" id="contribuyente" value="{{ form.contribuyente.ruc }}">#}
            {{ form.contribuyente }}
        </div>
        <div class="form-group col-md-6">
            <label class="small mb-1" for="establecimiento">Escoja el establecimiento</label>
            {{ form.establecimiento }}
        </div>
    </div>

    <div class="modal-footer">
        <button onclick="close_modal_creation();" class="btn btn-red" type="button">Cerrar</button>
        <button class="btn btn-green" type="submit">Guardar</button>
    </div>
</form>
{% endblock %}

{% block progress %} width: 75% {% endblock %}