{% extends 'patente/apertura/paso1_contribuyente_natural.html' %}

{% block tab_natural %}nav-link{% endblock %}
{% block tab_juridico %}nav-link active{% endblock %}

{% block tabpane %}
    <form id="form_creation" action="{% url 'patente:crear_juridico' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="text-danger text-xs">
                            <li><strong>{{ error|escape }}</strong></li>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="text-danger text-xs">
                        <li><strong>{{ error|escape }}</strong></li>
                    </div>
                {% endfor %}
            {% endif %}
            <br>
            <!-- Form Group (username)-->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="small mb-1" for="razon_social">Razón social</label>
                    {{ form.razon_social }}
                </div>
                <div class="form-group col-md-6">
                    <label class="small mb-1" for="ruc">RUC</label>
                    {{ form.ruc }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="small mb-1" for="tipo_persona">Tipo de persona</label>
                    {{ form.tipocontribuyente }}
                </div>
            </div>
            <!-- Form Row-->
            <div class="form-row">
                <!-- Form Group correo-->
                <div class="form-group col-md-6">
                    <label class="small mb-1" for="email">Correo Electrónico</label>
                    {{ form.email }}
                </div>
                <!-- Form Group (phone number)-->
                <div class="form-group col-md-6">
                    <label class="small mb-1" for="telefono_celular">Teléfono Celular</label>
                    {{ form.tlf_celular }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="small mb-1" for="telefono_convencional">Teléfono Convencional</label>
                    {{ form.tlf_convencional }}
                </div>
            </div>
            <br/>
            <div class="text-primary">
                Datos del representante legal
            </div>
            <hr/>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="small mb-1" for="cedula_representante">Número de cédula</label>
                    {{ form.cedula_representante }}
                </div>
            </div>
            <div class="form-row">
                <!-- Form Group (nombres)-->
                <div class="form-group col-md-6">
                    <label class="small mb-1" for="nombres_representante">Nombres</label>
                    {{ form.nombres_representante }}
                </div>
                <!-- Form Group (apellidos)-->
                <div class="form-group col-md-6">
                    <label class="small mb-1" for="apellidos_representante">Apellidos</label>
                    {{ form.apellidos_representante }}
                </div>
            </div>
            <div class="form-row">
                <!-- Form Group (telefono representante)-->
                <div class="form-group col-md-6">
                    <label class="small mb-1" for="nombres_representante">Teléfono</label>
                    {{ form.telefono_representante }}
                </div>
                <!-- Form Group (email representante)-->
                <div class="form-group col-md-6">
                    <label class="small mb-1" for="email_representante">Correo electrónico</label>
                    {{ form.correo_representante }}
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">
                    Guardar y continuar
                </button>
            </div>
        </div>
    </form>
{% endblock %}