{% extends 'alcabala-plusvalia/layout/wizard_step.html' %}

{% block collapse_alcabala %}collapse show{% endblock %}

{% block title %}<title>Crear Alcabala</title>{% endblock %}

{% block link_paso1 %}nav-item nav-link active{% endblock %}

{% block body_wizard %}
    <br>
    <form id="form_creation" action="{% url 'alcabala:crear_alcabala' %}"
          method="POST">
        {% csrf_token %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="text-danger text-xs">
                        <li><strong>{{ error|escape }}</strong></li>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="text-danger text-xs">
                    <li><strong>{{ error|escape }}</strong></li>
                </div>
            {% endfor %}
        {% endif %}
        <br>
        <!-- Form Row-->
        <div class="form-row">
            <!-- Form Group (first name)-->
            <div class="form-group col-md-6">
                <label class="small mb-sm-2" for="inputFirstName">Fecha</label>
                {{ form.fecha }}
            </div>
            <!-- Form Group (last name)-->
            <div class="form-group col-md-6">
                <label class="small mb-2" for="callePrincipal">Clave catastral</label>
                <select class="form-control table-responsive-sm" id="search_predio">
                </select>
                <input name="predio" hidden>
            </div>
        </div>
        <div class="form-row">
            <!-- Form Group (first name)-->
            <div class="form-group col-md-6">
                <label class="small mb-1" for="inputFirstName">Vendedor</label>
                <select class="form-control table-responsive-sm" id="search_vendedor">
                </select>
                <input name="vendedor" hidden>
            </div>
            <!-- Form Group (last name)-->
            <div class="form-group col-md-6">
                <label class="small mb-1" for="inputLastName">Comprador</label>
                <select class="form-control table-responsive-sm" id="search">
                </select>
                <input name="comprador" hidden>
            </div>
        </div>
        <div class="form-group">
            <!-- Form Group (organization name)-->
            <div class="form-group">
                <label class="small mb-1" for="inputOrgName">Descripción de la compra venta </label>
                {{ form.descripcion_tramite }}
            </div>
        </div>
        <!-- Save changes button-->
        <div class="card-body p-4 ml-5 mr-5 p-md-5">
            <!-- Invoice table-->
            <div class="table-responsive">
                <table class="table table-borderless mb-0">
                    <thead class="border-bottom">
                    <tr class="small mb-1">
                        <th class="text-left" scope="col">Impuestos</th>
                        <th>&nbsp;</th>
                        <th class="text-right" colspan="4" scope="col">Montos</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Invoice item 1-->
                    <tr class="border-bottom">
                        <td colspan="2">
                            <div class="small mb-1">Valor del compra venta</div>
                        </td>
                        <td class="text-right font-weight-bold" colspan="4">
                            {{ form.valor_compra_venta }}
                        </td>
                    </tr>
                    <!-- Invoice item 2-->
                    <tr class="border-bottom">
                        <td colspan="2">
                            <div class="small mb-1">Impuesto alcabala</div>
                        </td>
                        <td class="text-right font-weight-bold" colspan="4">
                            {{ form.impuesto_alcabalas }}
                        </td>
                    </tr>
                    <!-- Invoice item 3-->
                    <tr class="border-bottom">
                        <td colspan="2">
                            <div class="small mb-1">Alcabala provincial</div>
                        </td>
                        <td class="text-right font-weight-bold" colspan="4">
                            {{ form.alcabalas_provinciales }}
                        </td>
                    </tr>
                    <tr class="border-bottom">
                        <td colspan="2">
                            <div class="small mb-1">Fondos escolares</div>
                        </td>
                        <td class="text-right font-weight-bold" colspan="4">
                            {{ form.fondos_escolares }}
                        </td>
                    </tr>
                    <tr class="border-bottom">
                        <td colspan="2">
                            <div class="small mb-1">Prevención de riesgos</div>
                        </td>
                        <td class="text-right font-weight-bold" colspan="4">
                            {{ form.fondos_prevencion_riesgos }}
                        </td>
                    </tr>
                    <tr class="border-bottom">
                        <td colspan="2">
                            <div class="small mb-1">Agua potable</div>
                        </td>
                        <td class="text-right font-weight-bold" colspan="4">
                            {{ form.agua_potable }}
                        </td>
                    </tr>
                    <!-- Invoice total-->
                    <tr>
                        <td class="text-right pb-0" colspan="2">
                            <div class="text-uppercase small font-weight-700 text-muted">
                                Total a pagar:
                            </div>
                        </td>
                        <td class="text-right pb-0">
                            <div class="h5 mb-0 font-weight-700 text-green" id="total">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit">
                Guardar y continuar
            </button>
        </div>
    </form>

{% endblock %}

{% block progress %} width: 25% {% endblock %}

