{% extends 'alcabala-plusvalia/layout/wizard_step.html' %}

{% block collapse_alcabala %}collapse show{% endblock %}

{% block title %}<title>Crear Alcabala</title>{% endblock %}

{% block link_paso1 %}nav-item nav-link active{% endblock %}

{% block body_wizard %}
    <br>
    <form id="form_creation" action="{% url 'alcabala:crear_alcabala' %}"
          method="POST">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
        {% endif %}
        <!-- Form Row-->
        <div class="form-row">
            <!-- Form Group (first name)-->
            <div class="form-group col-md-6">
                <label class="small mb-1" for="inputFirstName">Fecha</label>
                {{ form.fecha }}
            </div>
            <!-- Form Group (last name)-->
            <div class="form-group col-md-6">
                <label class="small mb-1" for="inputLastName">Número</label>
                {{ form.numero }}
            </div>
        </div>
        <div class="form-row">
            <!-- Form Group (first name)-->
            <div class="form-group col-md-6">
                <label class="small mb-1" for="inputFirstName">Propietario</label>
                {{ form.vendedor }}
            </div>
            <!-- Form Group (last name)-->
            <div class="form-group col-md-6">
                <label class="small mb-1" for="inputLastName">Comprador</label>
                {{ form.search }}
            </div>
        </div>
        <div class="form-group">
            <label class="small mb-1" for="callePrincipal">Clave catastral</label>
            {{ form.predio }}
        </div>
        <!-- Form Row        -->
        <div class="form-group">
            <!-- Form Group (organization name)-->
            <div class="form-group">
                <label class="small mb-1" for="inputOrgName">Descripción de la compra venta </label>
                {{ form.descripcion_tramite }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label class="small mb-1" for="inputLocation">Valor del compra venta</label>
                {{ form.valor_compra_venta }}
            </div>
            <div class="form-group col-md-4">
                <label class="small mb-1" for="inputUsername"> Impuesto alacabala</label>
                {{ form.impuesto_alcabalas }}
            </div>
            <div class="form-group col-md-4">
                <label class="small mb-1" for="inputOrgName">Alcabala provincial </label>
                {{ form.alcabalas_provinciales }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label class="small mb-1" for="inputLocation">Fondos escolares</label>
                {{ form.fondos_escolares }}
            </div>
            <!-- Form Group (organization name)-->
            <div class="form-group col-md-4">
                <label class="small mb-1" for="inputOrgName">Prevención de
                    riesgos </label>
                {{ form.fondos_prevencion_riesgos }}
            </div>
            <!-- Form Group (location)-->
            <div class="form-group col-md-4">
                <label class="small mb-1" for="inputLocation">Agua potable</label>
                {{ form.agua_potable }}
            </div>
            <div class="ui-widget">
                <label for="tags">Tags: </label>
                <input id="tags">
            </div>
        </div>
        <!-- Save changes button-->
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit">
                Guardar y continuar
            </button>
        </div>
    </form>

{% endblock %}

{% block progress %} width: 25% {% endblock %}

