{% extends 'base.html' %}
{% load static %}

{% block collapse_consulta %}collapse show{% endblock %}

{% block iconheader %}
    <div class="page-header-icon"><i data-feather="calendar"></i></div>
{% endblock %}

{% block titleheader %}
    Calendario de pagos
{% endblock %}

{% block subtitleheader %}
    Aquí puede ver las fechas de pago de sus patentes
{% endblock %}

{% block titleheadercard %}
    Bienvenido {{ user.first_name }}
{% endblock %}

{% block date %}
{% endblock %}


{% block centralbody %}
    <div class="row">
        <div class="container mt-n10">
            <div class="card mb-4">
                <div class="card-body">
                    <div id='calendar'></div>
                </div>
            </div>
{#            <div class="container">#}
{#                {% for patente in patentes %}#}
{#                    <h2> Ultimo pago {{ patente.get_ultimo_pago }} - Esta {{ patente.establecimiento.nombre }}</h2>#}
{#                    <h2> Vencimiento {{ patente.get_vencimiento }} - Esta {{ patente.establecimiento.nombre }}</h2>#}
{#                {% endfor %}#}
{#            </div>#}
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/locales/es.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.css" rel="stylesheet">

    <script>
        document.addEventListener('DOMContentLoaded', function () {

            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'es',
                views: {
                    dayGridMonth: { // name of view
                        titleFormat: {year: 'numeric', month: 'long'}
                        // other view-specific options here
                    }
                },
                initialView: 'dayGridMonth',
                // initialDate: '2021-03-03',
                nextDayThreshold: '00:00:00',
                headerToolbar: {
                    left: 'prev',
                    center: 'title',
                    right: 'next'
                },
                eventRender: function (event, element) {
                    element.qtip({
                        content: event.description
                    });
                },
                events: [
                    {% for i in fechas %}
                        {
                            title: 'Pago: {{ i.patente.establecimiento.nombre }} sdasdasdasdasd',
                            start: '{{ i.fecha | date:"Y-m-d" }}',
                            description: '{{ i.patente.establecimiento.nombre }}',
                            backgroundColor: '#1fc4ea',
                            borderColor: '#1fc4ea',
                        },
                    {% endfor %}
                    {% for patente in patentes %}
                        {
                            title: 'Pago pendiente {{ patente.establecimiento.nombre }}',
                            start: '{{ patente.get_vencimiento | date:"Y-m-d" }}',
                            end: Date.now(),
                            description: 'Descpksapdksad',
                            {#display: 'background',#}
                            backgroundColor: '#f80606',
                            borderColor: '#f80606'
                        },
                    {% endfor %}
                ],
            });
            console.log(calendar.events);
            calendar.render();
        });
    </script>

{% endblock %}

